<%- include('header'); -%>

    <form method="POST" action="/api/register">

        <label>Society</label>
        <input type="text" name="society" placeholder="Enter your society"> <br>
        <br>
        <label>Contact Name</label>
        <input type="text" name="contact" placeholder="Enter your name"> <br>
        <br>
        <label>Address</label>
        <input type="text" name="address" placeholder="Enter your address"> <br>
        <br>
        <label>Zipcode</label>
        <input type="text" name="zipcode" placeholder="Enter your zip code"> <br>
        <br>
        <label>City</label>
        <input type="text" name="city" placeholder="Enter your city name"> <br>
        <br>
        <label>Phone</label>
        <input type="text" name="phone" placeholder="Enter your phone number"> <br>
        <br>
        <label>Fax</label>
        <input type="text" name="fax" placeholder="Enter your fax number"> <br>
        <br>
        <label>Confirmation</label>
        <input type="text" name="fax" placeholder="Enter your Confirmation code"> <br>
        <br>
        <label>Payment</label>
        <input type="text" name="payment" placeholder="Enter your payment method"> <br>
        <br>
        <label>Information</label>
        <input type="text" name="information" placeholder="your information here please"> <br>
        <br>
        <label>max_outstanding</label>
        <input type="text" name="max_outstanding" placeholder="Enter your max outstanding details"> <br>
        <br>

    </form>
    
<%- include('footer'); -%>